[Unit]
Description=lift Ai Socket Server
After=network.target

[Service]
ExecStart=<ROOT_PATH>/start-server.sh SocketServer
#Restart=always
User=<CURRENT_USER>

[Install]
WantedBy=multi-user.target
