[Unit]
Description=lift Ai Main Server
After=network.target

[Service]
ExecStart=<ROOT_PATH>/start-server.sh MainServer
#Restart=always
User=<CURRENT_USER>

[Install]
WantedBy=multi-user.target
